.square {
  background: #fff;
  border-radius: 2px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  transition: transform .2s; /* Animation */
  /* background: yellow; */
}

.square:hover {
  cursor: pointer;
  position: fixed;
  background: #fff;
  border-radius: 2px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 30px #999, 0 3px 6px #999;
  text-align: left;
  transform: scale(1.05);
}

.square > .img-container {
  height: 94%;
  margin: 3%;
  margin-bottom: 10%;
  overflow: hidden;
  text-align: center;
  /* background: yellow; */
}
.card > .img-container > img {
  /* width: 60% */
  width: 180px;
  /* height: 180px; */
}

img {
  width: 160px;
}

.square > .img-container { 
  /* height: 100%;
  width: 100%; */
  /* left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; */
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 10s ease infinite;
-z-animation: rainbow 10s ease infinite;
-o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}



