.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.middle {
  width: 100%;
  background-color: white;
  /* background-image: url(/4de356f…/00972/assets/images/geometry.svg); */
  background-repeat: repeat;
  color: cornflowerblue;
  min-height: 300px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.banner {
  height: 290px;
  width: 800px;
  margin: auto;
}

